{% extends "base.html" %}

{% block title %}{{ pinsite.name }}{% endblock %}
{% block category_title %}Blog{% endblock %}
{% block subcategory_title %}{{ pinsite.name }}{% endblock %}
{% block breadcrumb %}
<ol class="breadcrumb">
  <li><a href="{% url "ffc:pinsite_list" %}"><i class="fa fa-dashboard"></i> Home</a></li>
  <li><a href="{{ pinsite.get_absolute_url }}">{{ pinsite.name }}</a></li>
  <li class="active">Blog</li>
</ol>
{% endblock %}

{% block content %}
{% for blog_entry in posts %}
<div class="col-md-6">
  <!-- Box Comment -->
  <div class="box box-widget">
    <div class='box-header with-border'>
      <div class="box box-widget widget-user">
        <a href="{{ blog_entry.slug }}"><div class="widget-user-header bg-black" style="background: url('/static/dist/img/photo2.png') center center no-repeat; background-size: 100% auto;">
          <h3 class="widget-user-username">{{ blog_entry.name }}</h3>
          <h4 class="widget-user-desc">{{ blog_entry.subtitle }}</h4>
        </div></a>
      </div>
      <div class='user-block'>
        <img class='img-circle' src='/static/dist/img/user1-128x128.jpg' alt='user image'>
        {% if blog_entry.author.first_name and blog_entry.author.last_name %}
          <span class='username'><a href="#">{{ blog_entry.author.first_name }} {{ blog_entry.author.last_name }}</a></span>
        {% else %}
          <span class='username'><a href="#">{{ blog_entry.author.username }}</a></span>
        {% endif %}
        <span class='description'>{{ blog_entry.updated_at|date }}</span>
      </div><!-- /.user-block -->

    </div><!-- /.box-header -->
  </div>
</div><!-- /.col -->
{% endfor %}
{% include "ffc/pagination.html" with page=posts %}
{% endblock %}

