{% extends "base.html" %}
{% block title %}Edit homepage{% endblock %}
{% block content %}
    {% if not user.is_authenticated %}
        <h3>You have to login to edit a homepage</h3>

        <a href="{% url "ffc_admin:login" %}">Login</a>
    {% elif edited %}
        <h1>Homepage edited</h1>
    {% else %}
        <h1>Edit Homepage</h1>
        <form action="." method="post">
            {{ form.as_p }}
            {% csrf_token %}
        <input type="submit" value="Edit">
        </form>
    {% endif %}
{% endblock %}
